---
layout: default
---

<div class="home">

	{% for page in site.pages %}
	{% if page.title == "About Me" %}
	<div class="jumbotron">
		<h2>{{ page.title }}</h2>
		{% if page.content %}
		<p>{{ page.content | strip_html | strip_newlines | truncate: 200 }}</p>
		{% endif %}
		<p><a class="btn btn-primary btn-lg" href="{{ page.url }}" role="button">Learn more</a></p>
	</div>
	{% endif %}
	{% endfor %}
	<h1 class="page-heading">Blog Posts</h1>

	<ul class="post-list">
		{% for post in site.posts %}
		<li>
			<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

			<h2>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			{% if post.excerpt %}<p>{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</p>{% endif %}
		</li>
		{% endfor %}
	</ul>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
