<div class="sidebar">
	<aside class="products">
		<h4>Products</h4>
		<div class="scripts">
			<dl>
				{% for page in pages %}
				{% if page.title and page.tags contains 'scripts' %}
				<dt>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				</dt>
				{% if page.content %}
				<dd class="small">{{ page.content | strip_html | strip_newlines | truncate: 80 }}</dd class="">
				{% endif %}
				{% endif %}
				{% endfor %}
			</dl>
		</div>
	</aside>
	<aside class="services">
		<h4>Services</h4>
		{% include snippets/service-payment.html %}
	</aside>
	<aside class="servers">
		<p class="small">My demo servers for, as listed:</p>
		<ul class="list-unstyled text-center">
			<li><a href="http://demo.heliohost.org/wordpress/" target="_blank"><img src="/assets/img/wordpress-logo-hoz-rgb.png" alt="WordPress" /></a></li>
			<li><a href="http://demo.heliohost.org/php/" target="_blank"><img src="/assets/img/php-med-trans.png" alt="PHP" /></a></li>
			<li><a href="http://demo.heliohost.org/jquery/" target="_blank"><img src="/assets/img/1442386117_JQuery_logo.png" alt="jQuery" /></a></li>
		</ul>
	</aside>
</div>
